<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>code</key>
        <dict>
            <key>code1</key>
            <string>EC0039718AE3BC4D61DA4458EA1C6F87</string>
            <key>code2</key>
            <string>954106BF3028EA119A557DC73BB43B96</string>
            <key>code3</key>
            <string>5FE3BDAFE599B42414A336DBB5BFADC6</string>
            <key>code4</key>
            <string>902E9414AD3F7C0009286DFC42AFA256</string>
        </dict>
        <key>agcgw</key>
        <dict>
            <key>backurl</key>
            <string>connect-dra.dbankcloud.cn</string>
            <key>url</key>
            <string>connect-dra.hispace.hicloud.com</string>
            <key>websocketbackurl</key>
            <string>connect-ws-dra.hispace.dbankcloud.cn</string>
            <key>websocketurl</key>
            <string>connect-ws-dra.hispace.dbankcloud.com</string>
        </dict>
        <key>agcgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>CN_back</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>DE</key>
            <string>connect-dre.hispace.hicloud.com</string>
            <key>DE_back</key>
            <string>connect-dre.dbankcloud.cn</string>
            <key>RU</key>
            <string>connect-drru.hispace.hicloud.com</string>
            <key>RU_back</key>
            <string>connect-drru.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-dra.hispace.hicloud.com</string>
            <key>SG_back</key>
            <string>connect-dra.dbankcloud.cn</string>
        </dict>
        <key>client</key>
        <dict>
            <key>cp_id</key>
            <string>2640966000002747706</string>
            <key>product_id</key>
            <string>736430079244918476</string>
            <key>client_id</key>
            <string>620280542427888448</string>
            <key>client_secret</key>
            <string>[!00A533A805673B2E2744132B1A3962171C3BBDB57A1FDF8B72F91657F51175170EC0D211D5013B898286FFF16611982F997C812EC16F19A3C3C516890B5BA95034D9771C73E52EE5A24507CEC8F677B0C9BD260F8E2ED7DB9C49FE61771A09EEC8]</string>
            <key>project_id</key>
            <string>736430079244918476</string>
            <key>app_id</key>
            <string>322385623855118356</string>
            <key>api_key</key>
            <string>CgB6e3x9lz1khskrLa+uZTg7k/x1Z3zqzW0Y4i1BLhXcc/C8vYeK++Aw3sR9BDYlsjhzNoXBJ9nifzBFvEfgSxmT</string>
            <key>package_name</key>
            <string>online.jawhara</string>
        </dict>
        <key>service</key>
        <dict>
            <key>analytics</key>
            <dict>
                <key>channel_id</key>
                <string/>
                <key>collector_url</key>
                <string>datacollector-dra.dt.hicloud.com,datacollector-dra.dt.dbankcloud.cn</string>
                <key>resource_id</key>
                <string>p1</string>
            </dict>
            <key>search</key>
            <dict>
                <key>url</key>
                <string>https://search-dra.cloud.huawei.com</string>
            </dict>
            <key>ml</key>
            <dict>
                <key>mlservice_url</key>
                <string>ml-api-dra.ai.dbankcloud.com,ml-api-dra.ai.dbankcloud.cn</string>
            </dict>
            <key>cloudstorage</key>
            <dict>
                <key>storage_url</key>
                <string>https://ops-dra.agcstorage.link</string>
            </dict>
        </dict>
        <key>region</key>
        <string>SG</string>
    </dict>
</plist>
